<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.jsp"/>
        <property name="unauthorizedUrl" value="403.jsp"/>
        <property name="filterChainDefinitions">
            <value>
                /login.jsp = anon
                /loginUrl = anon
                <!--/testRole = roles["admin"]-->
                /testRoleAdminAndManager = roles["admin","manager"]
                <!--/testPermission = perms["user:select"]-->
                <!--/testPermissionUpdate = perms["user:select","user:update"]-->
                /testRoleAdminOrManager = rolesOr["admin","manager"]
                /* = authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="rolesOr" value-ref="rolesOrFilter"/>
            </util:map>
        </property>
    </bean>

    <bean id="rolesOrFilter" class="org.yanbing.filter.RolesOrFilter"/>

    <bean id="securityManager"
          class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="realm"/>
    </bean>

    <bean id="realm"
        class="org.yanbing.realm.CustomRealm">
        <property name="credentialsMatcher" ref="matcher"/>
    </bean>

    <bean id="matcher"
            class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

</beans>